.modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: var(--z-index-modal);

  display: grid;
  place-items: center;

  .modalBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--neutral-1);
    opacity: 0.7;
  }

  .modalContent {
    max-height: 100%;
    z-index: var(--z-index-upper-layer);
    padding: 20px;
    overflow: auto;
  }
}