.menuFilter {
  padding: 20px;
  gap: 20px;
  display: grid;
  grid-template-columns: 1fr 256px 256px;
  grid-template-areas:'search select range';
}

.input {
  grid-area: search;
}

.select {
  grid-area: select;
}

.range {
  grid-area: range;
}

@media screen and (max-width: 1124px) {
  .menuFilter {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
          'search search'
          'select range';
  }
}

@media screen and (max-width: 550px) {
  .menuFilter {
    grid-template-columns: 1fr;
    grid-template-areas:
          'search'
          'select'
          'range';
  }
  .range {
    padding-bottom: 16px;
  }
}