.work {
  margin-top: 60px;

  .workCards {
    margin-top: 60px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-items: center;

    @media (max-width: 1124px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }
}