//%colors {
//  --primary: #34C759;
//  --secondary: #FFF;
//  --black: #1A1A1A;
//  --dark-gray: #252525;
//  --light-gray: #737373;
//}

%colors {
  --primary: #34C759;

  --neutral-1: #1A1A1A;
  --neutral-2: #252525;
  --neutral-3: #303030;

  --neutral-4: #85878C;
  --neutral-5: #A6A6A6;
  --neutral-6: #FFFFFF;
}

%variables {
  --index: calc(1vh + 1vw);
  --color-header-border: rgba(255,255,255,0.1);

  --color-background-primary: var(--neutral-1);
  --color-background-secondary: var(--neutral-2);

  --color-text-primary: var(--neutral-6);
  --color-text-secondary: var(--neutral-5);
  --color-text-tertiary: var(--neutral-4);
  --color-text-dark: var(--neutral-3);

  --color-accent: var(--neutral-3);
  --color-accent-light: rgb(75, 75, 75);

  --box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.25);

  --z-index-bottom-layer: 1;
  --z-index-middle-layer: 2;
  --z-index-upper-layer: 3;
  --z-index-modal: 4;
  --z-index-important: 10;
}